// Place all the styles related to the Hello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body
{
  background: #00a94f;
}
.inner
{
  color: #ffffff;
  font-family: 'segoe ui', 'calibri';
  width: 500px;
  margin: 0 auto;
  font-size: 25px;
}
.wrap
{
  margin-top: 200px;
  width: 100%;
}